@model IntegrationService.Models.Categories.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <h2 class="card-title">Κατηγορίες</h2>
            <h6 class="card-subtitle mb-2">Διαγραφή</h6>
            <p class="mt-20">Είστε σίγουροι για την διαγραφή του αρχείου;</p>
        </div>
        <div class="col-md-6 text-end">
            <a asp-action="Index" class="return-link">
                <i class="icon-arrow-left-small"></i>
                <span>Επιστροφή</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mt-20 mb-50">


            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Level)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Level)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Enabled)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Enabled)
                </dd>
            </dl>
            <hr />
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" value="Delete" class="main-btn delete-btn-outline btn-hover d-flex align-items-center">
                    <i class="icon-trash mr-10"></i>Διαγραφή
                </button>
            </form>

        </div><!--/col-->
    </div><!--/row-->
</div><!--/CARD-BODY-->