@model FieldProductStoreViewModel
@using IntegrationService.ViewModels.FieldProductStores;

@{
    ViewData["Title"] = "Edit";
    ViewBag.BodyClass = "field-product-edit";
}


<div class="card-body">

    <div class="row">
        <div class="col-md-6">
                <h2 class="card-title">Είδη/Κατάστημα</h2>
                <h6 class="card-subtitle mb-2">Επεξεργασία Παραμετρικών Πεδίων</h6>
        </div>
        <div class="col-md-6 text-end"><a asp-action="Index" class="return-link"><i class="icon-arrow-left-small"></i> <span>Επιστροφή</span></a></div>
    </div>

    <div class="row">
        <div class="col mb-50">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="Edit" class="edit-form-layout" method="post">
                        <input type="hidden" id="productId" asp-for="ProductStoreId" value="@Model.ProductStoreId" />
                        <div class="form-group d-flex flex-row edit-cr sku">
                            <label asp-for="Sku" class="control-label pseudo"></label>
                            @Model.Sku
                            <span asp-validation-for="Sku" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex flex-row edit-cr sku">
                        <label asp-for="Title" class="control-label pseudo"></label>
                        @Model.Title
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                        <div class="form-group d-flex flex-row edit-cr sku">
                            <label asp-for="WarehouseID" class="control-label pseudo"></label>
                            @Model.WarehouseID
                            <span asp-validation-for="WarehouseID" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex flex-row edit-cr sku">
                        <label asp-for="WarehouseName" class="control-label pseudo"></label>
                        @Model.WarehouseName
                        <span asp-validation-for="WarehouseName" class="text-danger"></span>
                    </div>
                         @foreach (var item in Model.Channels)
                    {
                        <div class="form-group d-flex flex-row edit-cr sku">
                            <label class="control-label pseudo">@item.ChannelName</label>
                            @item.Value
                            <span asp-validation-for="ModifiedOn" class="text-danger"></span>
                        </div>
                    }
                        <div class="form-group d-flex flex-row edit-cr sku">
                            <label asp-for="ModifiedOn" class="control-label pseudo"></label>
                            @Model.ModifiedOn
                            <span asp-validation-for="ModifiedOn" class="text-danger"></span>
                        </div>
                        <hr style="margin:9px 0;"
                        <div class="form-insider">
                        @foreach (var item in Model.Fields.OrderBy(x=>x.Order))
                        {
                            <div class="form-group d-flex edit-field fps editable">
                                @Html.TextBoxFor(a => item.FieldName, new{ @class = "hidden",@readonly = "readonly",@style="border: 0px; width: 100%; background: var(--color-neutral-1);"})
                                @if (item.DomGroupDesc == "TrueOrFalse")
                                {
                                    <select id="@item.FieldId" name="fields" style="width:150px;" class="btn btn-default dropdown-toggle">
                                        @foreach (var value in item.DomValues)
                                        {
                                            var stringValue = "{" + $"ProductStoreId : \"{Model.ProductStoreId}\",FieldId : \"{@item.FieldId}\",Value : \"{@value.Value}\"" + "}";
                                            if (value.Value == item.Value)
                                            {
                                                <option value=@stringValue selected>@value.Value</option>
                                            }
                                            else
                                            {
                                                <option value=@stringValue>@value.Value</option>
                                            }
                                        }
                                    </select>

                                }
                                else if (item.DomGroupDesc == "Entity")
                                {
                                    <!--SPAN-->
                                    <input type="hidden" id="entity" value="@item.DomValues.FirstOrDefault().Value" name="@item.FieldId" />
                                    var stringValue = "{" + $"ProductStoreId : \"{Model.ProductStoreId}\",FieldId : \"{@item.FieldId}\",Value : \"{@item.Value}\"" + "}";
                                    <select name="fields" id="categories" style="width:200px;" class="edit-dropdown btn btn-default dropdown-toggle">

                                        <option id="entityDesc" value="@stringValue" selected>@item.Value</option>
                                    </select>
                                }
                                else if (item.DomGroupDesc == "EntityLabel")
                                {
                                    var stringValue = "{" + $"ProductStoreId : \"{Model.ProductStoreId}\",FieldId : \"{@item.FieldId}\",Value : \"{@item.Value}\"" + "}";
                                    <input type="text" id="catDescValue" value="@item.Value" name="@item.FieldId" style="border:0;outline:none;color:grey;" readonly />
                                    <input type="hidden" id="hiddenCatDescValue" value="@stringValue" name="fields" />
                                }
                                else
                             {
                                     <!--TEXT AREA-->
                                    <textarea id="userInput_@item.FieldId" asp-for="@item.Value" name="@item.FieldId" class="edit-text-field" style="width:140px; height: 29px; border-radius: 4px; resize: none;border: 1px solid var(--color-neutral-4);padding:0 8px;" onchange="updateHiddenField('@item.FieldId')"></textarea>
                                    <input type="hidden" id="hiddenValue_@item.FieldId" value="" name="fields" />
                                }
                            </div>
                        }
                            <div class="form-group d-flex justify-content-between edit-field fps editable">
                                <label asp-for="IsPublished" class="control-label pseudo"></label>
                                    <select name="IsPublished" id="IsPublished" style="width: 140px;height:28px;border:1px solid var(--color-neutral-4);background:#fff;text-align:left;padding:0;" class="edit-dropdown default-button dropdown-toggle">
                                    @foreach (var option in new[]
                                    {
                                    new { Value = "true", Text = "True" },
                                    new { Value = "false", Text = "False" }
                                                    })
                                    {
                                        @if (Model.IsPublished.ToString() == option.Text)
                                        {
                                            <option value="@option.Value"selected>@option.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@option.Value">@option.Text</option>
                                        }
                                    }

                                </select>
                            </div>
                            </div>
                            <div class="form-group">
                            <ul class="filter-btn-group f-14">
                                <li>
                                    <input class="main-btn primary-btn-outline btn-hover d-flex align-items-center" style="gap:5px;height:auto;" value="Αποθήκευση" type="submit">
                                    @*<i class="icon-plus"></i>*@
                                </li>
                            </ul>
                            </div>
                    </form>
                 </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
</div>


















@section Scripts {
    <script>
        $(document).ready(function () {
            $('#categories').change(function () {
                var e = document.getElementById("categories");
                var value = e.value;
                var text = e.options[e.selectedIndex].text;
                const textArray = text.split("-");
                var fieldId = $('#catDescValue').attr('name');
                var productId = $('#productId').val();
                var value = "{" + "ProductStoreId : " + "\"" + productId + "\"" + ",FieldId : " + "\"" + fieldId + "\"" + ",Value : " + "\"" + textArray[1] + "\"" + "}";
                $('#catDescValue').val(textArray[1]);
                $('#hiddenCatDescValue').val(value);
            });
        });
        function updateHiddenField(fieldId) {
            var userInput = document.getElementById("userInput_" + fieldId);
            var hiddenInputElement = document.getElementById("hiddenValue_" + fieldId);
            var productId = $('#productId').val();
            var hiddenValue = "{" + "ProductStoreId : " + "\"" + productId + "\"" + ",FieldId : " + "\"" + fieldId + "\"" + ",Value : " + "\"" + userInput.value + "\"" + "}";

            hiddenInputElement.value = hiddenValue;
        }
        //function getValues() {
        //    var fieldId = $('#userInput').attr('name');
        //    var value = $('#userInput').val();
        //    console.log(value);
        //    var productId = $('#productId').val();
        //    var hiddenValue = "{" + "ProductStoreId : " + "\"" + productId + "\"" + ",FieldId : " + "\"" + fieldId + "\"" + ",Value : " + "\"" + value + "\"" + "}"
        //    $('#hiddenValue').val(hiddenValue);
        //}

        function setCategoryDescription(text) {
            $('#catDescValue').val(text);
        }


        function getUrl() {
            var url = '';
            if ($('#entity').val() == 'Category') {
                var url = "/Categories/GetCategories";
            }
            return url;
        }
        function getItem() {
            var item = '';
            if ($('#entity').val() == 'Category') {
                var item = "#categories";
            }
            return item;
        }
        $(getItem()).select2({
            placeholder: "Select Category",
            theme: "bootstrap4",
            allowClear: true,
            ajax: {
                url: getUrl(),
                contentType: "application/json; charset=utf-8",
                data: function (params) {
                    var query =
                    {
                        term: params.term,
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (item) {
                            var fieldId = $('#entity').attr('name');
                            var productId = $('#productId').val();
                            var value = "{" + "ProductStoreId : " + "\"" + productId + "\"" + ",FieldId : " + "\"" + fieldId + "\"" + ",Value : " + "\"" + item.value + "\"" + "}";
                            return {
                                id: value,
                                text: item.value + '-' + item.text
                            };
                        }),
                    };
                }
            }
        });
    </script>


    <script>
        $(document).ready(function () {

            $(".edit-dropdown").select2({
                minimumResultsForSearch: -1
            });


        });


    </script>

}
